.thumbnail-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .thumbnail-list {
    flex-wrap: wrap;
  }
}

.galley-container {
  margin-left: 43px;
}
.bg-container {
  padding: 20px;
}

.main-heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #1e293b;
}

.description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}

.selected-image {
  width: 1200px;
}
